<div>
    <table class="form-signin table table-condensed  table-striped">
        <tr>
            <td>
                <b>Idle players</b>
            </td>
            <td>
                {{idlePlayers}}
            </td>
        </tr>
        <tr>
            <td>
                <b>Active players</b>
            </td>
            <td>
                {{activePlayers}}
            </td>
        </tr>
        <tr>
            <td>
                <b>Active games</b>
            </td>
            <td>
                {{gameCount}}
            </td>
        </tr>
    </table>
</div>
