body
{
    padding: 0;
    overflow: auto;
}

.content-container
{
    max-width: 400px;
    margin: 0 auto;
}

.form-signin
{
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin input[type="text"], .form-signin input[type="password"]
{
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}


.commands
{
    text-align: center;
}

.canvas-holder
{
    text-align: center;
}

.canvas
{
    position: relative;
}

.landscape-mode
{
    float: left;
}

.landscape-mode > .vertical-line
{
    position: absolute;
    background-color: Red;
    z-index: 10;
    -webkit-transition: width 700ms cubic-bezier(0.600, 0, 0.735, 0.045); /* older webkit */
    -webkit-transition: width 700ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -moz-transition: width 700ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -ms-transition: width 700ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -o-transition: width 700ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    transition: width 700ms cubic-bezier(0.600, -0.280, 0.735, 0.045); /* easeInBack */
    -webkit-transition-timing-function: cubic-bezier(0.600, 0, 0.735, 0.045); /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -moz-transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -ms-transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -o-transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045);
    border-radius: 10px;
    transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045); /* easeInBack */
}

.portrait-mode > .vertical-line
{
    position: absolute;
    background-color: Red;
    z-index: 10;
    -webkit-transition: height 700ms cubic-bezier(0.600, 0, 0.735, 0.045); /* older webkit */
    -webkit-transition: height 700ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -moz-transition: height 700ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -ms-transition: height 700ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -o-transition: height 700ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    transition: height 700ms cubic-bezier(0.600, -0.280, 0.735, 0.045); /* easeInBack */
    -webkit-transition-timing-function: cubic-bezier(0.600, 0, 0.735, 0.045); /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -moz-transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -ms-transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -o-transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045);
    border-radius: 10px;
    transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045); /* easeInBack */
}

.canvas > .horizontal-holder
{
    position: absolute;
    z-index: 0;
}

.canvas > .horizontal-holder > .line
{
    margin: 0 auto;
    width: 20px;
    height: 100%;
    background-color: Black;
}

.yellow-modal
{
    top: auto !important;
    width: auto;
    background: #f9edbe;
    right: auto !important;
    left: 20px !important;
    bottom: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-left: 0px;
    border: 1px solid #f0c36d;
}

.yellow-modal > .modal-body
{
    padding: 6px 8px;
}

.yellow-modal > .modal-body > p
{
    margin: 0;
}

.waiting-modal
{
    font-weight: bold;
    font-size: 14px;
}

@media (max-width: 767px)
{
    .github-link
    {
        display: none;
    }

    .content-container
    {
        max-width: none;
        width: 100%;
        margin: 0 auto;
    }
}

.score-list
{
    display:block;
    margin:0px;
}

.score-list > li:fist-child
{
    float:left;
}

.score-list > li:last-child
{
    float:right    
}

.score-list > li
{
    display:inline-block;
    padding:20px;
    width:30%;
    text-align:center;
}

.score-list > li > .large
{
    font-size:5em;
    font-weight:bold;
}

.score-list > li > .playerName
{
    margin-top:10px;
    display:inline-block;
    font-size:1.5em;
    font-weight:bold;
    display:block;
}

.score-list > li > .willPlayAgain
{
    font-size:11px;
    color:green;
    display:block;
}

.score-list > li > .disconnected
{
    font-size:11px;
    color:red;
    display:block;
}