html
{
    height: 100%;
}

body
{
    height: 100%;
    padding: 0;
    overflow: auto;
    background-image: url('/Content/Images/woodbg.png');
    background-size: auto 100%;
}

.content-container
{
    max-width: 400px;
    margin: 0 auto;
}

.form-signin
{
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin input[type="text"], .form-signin input[type="password"]
{
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.heightBuilder
{
    height: 100%;
}

.commands
{
    float: left;
    width: 15%;
    box-shadow: -18px 9px 49px -17px #000;
}

.commands > .btn-command:last-child
{
    border-bottom-width: 0px;
}

.btn-command
{
    display: block;
    width: 100%;
    height: 33.33333333333333333%; /*background-image: -moz-linear-gradient(top, #0088cc, #0044cc);*/ /*background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0)), to(rgba(20, 20, 20, 0))); */
    background-image: -webkit-linear-gradient(top, rgba(184, 81, 29, 0.6), rgba(184, 81, 29, 0.2)); /*background-image: -o-linear-gradient(top, #0088cc, #0044cc);*/ /*background-image: linear-gradient(to bottom, #0088cc, #0044cc);*/
    border: 0 solid black;
    border-bottom-width: 1px;
    box-sizing: border-box;
    font-size: 5em;
    font-family: Georgia;
    overflow: hidden;
    color: white !important;
    position: relative;
    cursor:pointer;
}

.btn-command:hover
{
        background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.09)); /*background-image: -o-linear-gradient(top, #0088cc, #0044cc);*/ /*background-image: linear-gradient(to bottom, #0088cc, #0044cc);*/
}

.btn-command > span
{
    position: absolute;
    display: inline-block;
    top: 33%;
    font-weight:bold;
    width: 100%;
    text-align: center;
}

.canvas-holder
{
    float: left;
    width: 85%;
    text-align: center;
}

.canvas
{
    width: 100%;
    position: relative;
}

.landscape-mode
{
    float: left;
}

.landscape-mode > .vertical-line
{
    position: absolute;
    background-color: Red;
    z-index: 10;
    -webkit-transition: width 700ms cubic-bezier(0.600, 0, 0.735, 0.045); /* older webkit */
    -webkit-transition: width 700ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -moz-transition: width 700ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -ms-transition: width 700ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -o-transition: width 700ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    transition: width 700ms cubic-bezier(0.600, -0.280, 0.735, 0.045); /* easeInBack */
    -webkit-transition-timing-function: cubic-bezier(0.600, 0, 0.735, 0.045); /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -moz-transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -ms-transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -o-transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045);
    border-radius: 10px;
    transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045); /* easeInBack */
}

.portrait-mode > .vertical-line
{
    position: absolute;
    background-color: Red;
    z-index: 10;
    -webkit-transition: height 700ms cubic-bezier(0.600, 0, 0.735, 0.045); /* older webkit */
    -webkit-transition: height 700ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -moz-transition: height 700ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -ms-transition: height 700ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -o-transition: height 700ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    transition: height 700ms cubic-bezier(0.600, -0.280, 0.735, 0.045); /* easeInBack */
    -webkit-transition-timing-function: cubic-bezier(0.600, 0, 0.735, 0.045); /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -moz-transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -ms-transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -o-transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045);
    border-radius: 10px;
    transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045); /* easeInBack */
}

.canvas > .horizontal-holder
{
    position: absolute;
    z-index: 0;
}

.canvas .line
{
    margin: 0 auto;
    background-color: #FFF;
    border-radius: 5px;
}

.yellow-modal
{
    top: auto !important;
    width: auto;
    background: #f9edbe;
    right: auto !important;
    left: 20px !important;
    bottom: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-left: 0px;
    border: 1px solid #f0c36d;
}

.yellow-modal > .modal-body
{
    padding: 6px 8px;
}

.yellow-modal > .modal-body > p
{
    margin: 0;
}

.waiting-modal
{
    font-weight: bold;
    font-size: 14px;
}

@media (max-width: 767px)
{
    .github-link
    {
        display: none;
    }

    .content-container
    {
        max-width: none;
        width: 100%;
        margin: 0 auto;
    }
}

.score-list
{
    display: block;
    margin: 0px;
}

.score-list > li:fist-child
{
    float: left;
}

.score-list > li:last-child
{
    float: right;
}

.score-list > li
{
    display: inline-block;
    padding: 20px;
    width: 30%;
    text-align: center;
}

.score-list > li > .large
{
    font-size: 5em;
    font-weight: bold;
}

.score-list > li > .playerName
{
    margin-top: 10px;
    display: inline-block;
    font-size: 1.5em;
    font-weight: bold;
    display: block;
}

.score-list > li > .willPlayAgain
{
    font-size: 11px;
    color: green;
    display: block;
}

.score-list > li > .disconnected
{
    font-size: 11px;
    color: red;
    display: block;
}
