body
{
    padding: 0;
}

.form-signin
{
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin input[type="text"], .form-signin input[type="password"]
{
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}


.commands
{
    text-align: center;
}

.canvas-holder
{
    text-align: center;
}

.canvas
{
    position: relative;
}
.canvas > .vertical-line
{
    position: absolute;
    background-color: Red;
    z-index: 10;
    -webkit-transition: all 700ms cubic-bezier(0.600, 0, 0.735, 0.045); /* older webkit */
    -webkit-transition: all 700ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -moz-transition: all 700ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -ms-transition: all 700ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -o-transition: all 700ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    transition: all 700ms cubic-bezier(0.600, -0.280, 0.735, 0.045); /* easeInBack */
    -webkit-transition-timing-function: cubic-bezier(0.600, 0, 0.735, 0.045); /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -moz-transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -ms-transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -o-transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045);
    border-radius:10px;
    transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045); /* easeInBack */
}

.canvas > .horizontal-holder
{
    position: absolute;
    z-index: 0;
}

.canvas > .horizontal-holder > .line
{
    margin: 0 auto;
    width: 20px;
    height: 100%;
    background-color: Black;
}

@media (max-width: 767px)
{
    .canvas > .horizontal-holder
    {
        position: absolute;
        z-index: 0;
    }

    .canvas > .horizontal-holder > .line
    {
        margin: 0 auto;
        height: 20px;
        width: 100%;
        background-color: Black;
    }
}
